.commentsContainer{
    border-top: 1px solid #000000;
    width: 100%;
}

.list{
    list-style-type: none;
}

.commentBlock{
    /* border-bottom: 1px solid #000000; */
    border-bottom: 1px solid #000000;
    width: 95%;
    /* padding: 10px 0; */
}

.text{
    font:23px Inter;
}

.date{
    font: caption Inter;
    color:#aca000
}

.userName {
    font: caption Inter;
    color: #aca000;
  }